![Watsons](wxd-images/watsons-go-logo-small.png)

# Appendix G - Table Validation

The following script is used to compare your table definitions with a generic one. The output from this report should be provided to the POC organizers. There is no "correct" output from this program. It is used to compare the different approaches POC teams used to create the tables in the system.

Download the following notebook into your Jupyter notebook environment and then run the code in the notebook: [Validation Notebook](./wxd-files/Verify-Watsons.ipynb).

!!! abstract "Download Verification Notebook"
    ```bash
    wget https://ibm.github.io/watsonx-data-poc/wxd-files/Verify-Watsons.ipynb -O Verify-Watsons.ipynb
    ```